.cartDiv {
    margin: 10px;
}
.cartDiv i {
    margin-right: 10px;
}

.cartWidgetIcon {
    font-size: 23px;
}
  .cart-icon {
    position: relative;
    display: inline-block;
  }
  
  .cart-badge {
    position: absolute;
    bottom: -6px;
    right: -6px;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}