.navLink {
    text-decoration: none;
}
.navLink {
    color: black;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
}
.navbar {
    background-color: rgb(48, 228, 48);
}
.navLink:hover {
    background-color: hsl(120, 66%, 54%);
}